@charset "utf-8";
/*
Date: 29/12/2015
Author: Wizard Digital Agency| Front-End Developer: Arthur Jones
Author URL: http://www.wizard.com.tr
*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* CSSMap */
/* 1. Extra Fonts */
/* 2. General Styles */
/* 3. Responsive Styles */

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/




/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 1. Extra Fonts */
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 2. General Styles */
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.menu-btn-trig {
    position: fixed;
    top: 10px;
    left: 45px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 100;
    display: block;
}

    .menu-btn-trig span {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 8%;
        display: block;
        background-color: white;
        font-size: 0px;
        transition: 0.3s ease;
    }

        .menu-btn-trig span.active {
            transform: rotate(90deg);
        }

        .menu-btn-trig span:before, .menu-btn-trig span:after {
            position: absolute;
            left: 0;
            width: 85%;
            height: 100%;
            background: white;
            transition: 0.3s ease;
            box-sizing: border-box;
            content: '';
        }

        .menu-btn-trig span:before {
            -webkit-transform: translateY(-350%);
            transform: translateY(-350%);
        }

        .menu-btn-trig span:after {
            -webkit-transform: translateY(350%);
            transform: translateY(350%);
        }

.btn-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-color: #FFDE00;
    border-style: solid;
    background-color: rgba(0,0,0,0);
    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    border-width: 0px;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
}

    .btn-menu.btn-menu-open {
        height: 100%;
        border-width: 0px 0px 50px 150px;
        background-color: rgba(0,0,0,0.3);
        transition: border-width 0.3s, background-color 0.3s;
    }

    .btn-menu ul:first-of-type {
        position: fixed;
        top: 75px;
        left: 0px;
    }

        .btn-menu ul:first-of-type li:nth-child(1).menu-open {
            transition-delay: 0.1s;
        }

        .btn-menu ul:first-of-type li:nth-child(2).menu-open {
            transition-delay: 0.2s;
        }

        .btn-menu ul:first-of-type li:nth-child(3).menu-open {
            transition-delay: 0.3s;
        }

        .btn-menu ul:first-of-type li:nth-child(4).menu-open {
            transition-delay: 0.4s;
        }

        .btn-menu ul:first-of-type li:nth-child(5).menu-open {
            transition-delay: 0.5s;
        }

    .btn-menu ul li {
        height: 50px;
        width: 150px;
        line-height: 50px;
        transform: translate3d(-100%,50%,0);
        transition: 0.3s ease;
        visibility: hidden;
        opacity: 0;
        transition-delay: 0s;
    }

    .btn-menu ul:last-child {
        position: fixed;
        right: 10px;
        bottom: 11px;
    }

        .btn-menu ul:last-child li {
            display: inline-block;
            width: auto;
            transform: scale(0);
            transition-delay: 0.1s;
            transition: 0.3s ease;
            height: auto;
        }

            .btn-menu ul:last-child li a {
                font-size: 25px;
            }

                .btn-menu ul:last-child li a i.fa-facebook-square:hover {
                    color: #3B5997;
                }

    .btn-menu ul li.menu-open {
        transform: translate3d(0%,50%,0);
        visibility: visible;
        opacity: 1;
    }

    .btn-menu ul:last-child li.menu-open {
        transform: scale(1);
    }

    .btn-menu ul li a {
        padding: 0px 20px;
        box-shadow: inset 1px rgba(0,0,0,0.2);
        color: #2D2D2D;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1em;
        transition: 0.3s ease;
        display: block;
        font-weight: bold;
    }

        .btn-menu ul li a:hover {
            color: white;
        }


/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 3. Responsive Styles */
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

